// ==========================================================================
//
// Base CSS. 
// Only include things which need to appear in *every* page
//
//

@import "../../bower_components/normalize-css/normalize";

// Installed as a gem for lots of annoying reasons
@import "bourbon";

$keyColour1: #000000;
$bottomBarColor: #c3c3c3;


$leftPadding: 50px;
$topPadding: 40px;
$bottomPadding: 110px;

$bottomBarPadding: 20px $leftPadding 20px $leftPadding;

canvas{
	position:absolute;
	left:0;
	top:0;
	z-index:-3;
}

.upper-canvas{
	z-index:1;
  opacity:1;
}

#drawing{
	z-index:-2;
  opacity:1;
}

body {
	

  // Checks bourbon is running
  //@include transition(all 0.4s);

  cursor: none;

	font-family: 'Open Sans', sans-serif;
  color:$keyColour1;
  
  a{
  	color:$keyColour1;
    text-decoration: none;
  }

  h1{
		font-size: 55px;
		font-style: bold;
		line-height:0px;
    letter-spacing:-2px;

    font-kerning: none;
  }

  h2{
  	font-size: 25px;
		font-style: normal;
		font-variant: normal;
		font-weight: 400;
		line-height:15px;
		a{
		    border-bottom: solid 2px $keyColour1;
		}
  }

  #title{
    z-index:3;
  	position: absolute;
  	top:0px;
  	left:0px;
  	padding-left:$leftPadding;
  	padding-top:$topPadding;

  	.icons{
  		color: $keyColour1;
  	}

  }

  #stap{
    z-index:2;
  	position: absolute;
  	bottom:0px;
  	left:0px;
  	padding-left:$leftPadding;
  	padding-bottom:$bottomPadding;

  }

  #bottomBar{
    z-index:3;
    width:100%;
    background-color: $bottomBarColor;
    position: absolute;
    bottom:0px;
    left:0px;
    opacity:0.9;

    #leftside{
      position:absolute;
      padding:$bottomBarPadding;
      a{
        border-bottom: dashed 1px $keyColour1;
      }
    }
    #rightside{
      position:inline;
      float:right;
      padding:$bottomBarPadding;
   
      .twitter-share-button{
        margin-bottom:-5px;
        padding-left:10px;
      }

    }

  }

  .icon{

  	width:45px;
  	padding-right:5px;
    padding-top:40px;
    padding-bottom:-20px;



  }

  .linkedIn{
    padding-left:2px;
  }

  .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	}

}

